/* CSS du formulaire d'inscription et de la page de connection*/

body{
  display: flex;
  flex-wrap: wrap;
  background-color: #F7FAFA;
}


header{
  flex: 1 1 100%;
  margin: 0.5em;
  text-align: center;
  font-size: 2em;
  margin-bottom: 4em;
}

section{
  margin-left: auto;
  margin-right: auto;
}


form{
  font-size: 1.2em;
}

a{
  text-decoration: none;
}

a:visited{
  color: black;
}

.wanna{
  text-align: right;
  margin-top: 1em;
}

#error{
  color: red;
  text-align: center;
  font-size: smaller;
}

input{
  margin: 0.75em;
}


footer{
  flex: 1 1 100%;
  margin-top: 2em;
  position: absolute;
  bottom: 0;
}
